header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
header img {
    height: 35px;
    margin: var(--vertical-margin) 0;
}

#nav-toggle { display: none; }

nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 8px;
    height: 100%;
}
nav li {
    width: 100%;
}
nav li > button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: 100%;
    height: 100%;
}


@media screen and (max-width: 600px) {
    nav li > button {
        padding: 10px;
        height: 100%;
    }
    nav button span {
        display: none;
    }
}