@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
}
header, main, footer {
  padding: 5px 200px;
}
header, footer {
  background: #ffc23f;
}
#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

p { margin: 5px 0; }

main {
  flex: 1;
  text-align: center;
}


@media screen and (max-width: 1024px) {
  header, main, footer {
    padding-left: 100px;
    padding-right: 100px;
  }
}

@media screen and (max-width: 600px) {
  header, main, footer {
    padding-left: 8px;
    padding-right: 8px;
  }
}