@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://unpkg.com/spectre.css/dist/spectre-icons.min.css");

:root {
  --vertical-margin: 5px;
  --primary-color: #0072ce;
  --primary-color-hover: #2780c9;
  --border-radius: 10px;
}
body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  margin: 0;
}
#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header, footer {
  padding: 0 200px;
  background: #ffc23f;
}

p { margin: var(--vertical-margin) 0; }

div {
  border-radius: var(--border-radius);
}

button, select, input, textarea {
  font-size: 14px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: var(--border-radius);
}
button {
  cursor: pointer;
  border: none;
}
button.primary, nav li > button {
  background: var(--primary-color);
  color: #fff;
}
button.primary:hover, nav li > button:hover {
  background: var(--primary-color-hover);
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 16px 200px;
  gap: 8px;
}

.order-controls {
  display: flex;
  justify-content: space-between;
}

table {
  width: 100%;
}

.error { color: red; }

.space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}


@media screen and (max-width: 1024px) {
  header, main, footer {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media screen and (max-width: 600px) {
  header, main, footer {
    padding-left: 8px;
    padding-right: 8px;
  }
}